@using Parcels.Models;

@{
  string cost = Model.CostToShip();
}
@if (Model.Height == 0 || Model.Width == 0 || Model.Length == 0 || Model.Weight == 0)
{
    <h1>Please fill out all specs on the form.</h1>
}
else
{
  <h1>Here are the specifications of your parcel:</h1>

<ul>
  <li>Height - @Model.Height in</li>
  <li>Width - @Model.Width in</li>
  <li>Length - @Model.Length in</li>
  <li>Weight - @Model.Weight oz</li>
</ul>

<p>Your cost to ship is: $@cost </p>
}

<form action="/">
  <button type="submit">Return to Home</button>
</form>